.siderStyle {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);


    background: linear-gradient(70deg,
            rgba(251, 132, 33, 0.6),
            rgba(22, 40, 82, 0.6)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.5);

    transition: all 0.3s ease;

}

.siderStyle :global(.ant-menu),
.siderStyle :global(.ant-menu-dark) {
    background: transparent !important;
}



/* .siderStyle :global(.ant-menu-item) {
   
 border-radius: 14px;

    margin: 6px 12px !important;

    width: calc(100% - 24px) !important;

    transition: all .25s ease;

} */

/* Menú expandido */
.siderStyle :global(.ant-menu:not(.ant-menu-inline-collapsed) .ant-menu-item) {
    margin: 6px 12px !important;
    width: calc(100% - 24px) !important;
    border-radius: 14px;
}

.siderStyle :global(.ant-menu-inline-collapsed .ant-menu-item) {
    margin: 6px 0 !important;
    width: 100% !important;
}


.siderStyle :global(.ant-menu-item:hover) {
    background: rgba(255, 255, 255, 0.12) !important;

    backdrop-filter: blur(8px);

    box-shadow:
        inset 0 1px 1px rgba(255,255,255,.35),
        0 4px 12px rgba(0,0,0,.15);

    transform: translateY(-2px);
}


.siderStyle :global(.ant-menu-item-selected) {
    background: rgba(255, 255, 255, 0.20) !important;

    border: 1px solid rgba(255,255,255,.15);

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,.4),
        0 8px 20px rgba(0,0,0,.15);

    color: white !important;
}


siderStyle :global(.ant-menu-item-selected)::before {
    content: "";
    position: absolute;

    top: 3px;
    left: 10px;

    width: 40%;
    height: 30%;

    border-radius: 999px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,.7),
        rgba(255,255,255,0)
    );

    pointer-events: none;
}
